<h1>DBZ</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes"></app-personajes>
    </div>

    <div class="col">
        <h3>Agregar {{ nuevo.nombre}}</h3>
        <hr>
        <form action="" (ngSubmit)="agregar()">
            <input type="text" name="nombre" id="" placeholder="Nombre" [(ngModel)]="nuevo.nombre">
            <input type="number" name="poder" id="" placeholder="Poder" [(ngModel)]="nuevo.poder">
            <button type="submit">Agregar</button>
        </form>

    </div>
</div>